body{
    background-color: #473e3e;
    font-size: 2em;
}
/* -----------------------------haut de page-------------------------------------- */
.header{
    border: 1px solid blue;
    background-color: #645959;
    min-height: 300px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nomPrenom{
    border: 1px solid blue;
    width: 30vh;
}
.presentation{
    border: 1px solid blue;
    margin: 30px;
    text-align: center;
}

/* -----------------------------nav------------------------------------- */
.navigation{
    border: 1px solid blue;
    margin-top: 10px; 
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}
li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
}
a{
    text-decoration: none;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:focus {
    /* border-bottom: 1px solid;
    background: green; */
}
a:hover {
    border-bottom: 1px solid;
    /* background: yellow; */
}
a:active {
    background: ;
    color: green;
}

/* -------------------------tableau des formation---------------------------------- */
#tableau{
    margin: 0vh 20px 0vh 20px;
    padding: 5px;
    background-color: hotpink;
}
th{
    border: 1px solid blue;
}
.v1{
    width: 20vh;
}
.v2{
    width: 10vh;
}
.v3{
    
}
/* -----------------------------parcours--------------------------------------- */
.parcours{
    border: 1px solid blue;
}
/* -------------------------------motiv/obj---------------------------------------- */
.motiv{
    border: 1px solid blue;
    background-color: indianred;
    padding: 5px;
}
/* ---------------------------------contact bas droit----------------------------- */
.contact{
    border: 1px solid red;
    background: rgb(255, 147, 147);
    border-radius: 10% 10% 0% 10%;

    font-size: 0.7em;

    min-width: 100px;
    
    padding-left: 5px;
    padding-right: 5px;

    position: fixed;
    bottom: 0px;
    right: 0px;
}

.titrecontact{
    font-size: 1.3em;
    text-align: center;
}
/* ------------------------------------------------------------------------------ */